@import "../src/stylesheet/bootstrap_custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

h1 {
  @extend .my-2;
}

.click-transparent {
  pointer-events: none;
}

.click-nontransparent {
  pointer-events: all;
}

// Ruby on Railsが生成するエラー用スタイルなので、アンダーバーのままにする
.field_with_errors {
  display: contents;

  input {
    @extend .is-invalid;
  }
}

//------ header ------

.sakazuki-header-logo {
  @extend .me-3;

  width: 2rem;
  height: 2rem;
}

//------ footer ------

.footer-text {
  font-size: 0.9em;
  color: #777;
}
