# Ignore all
*

# Add application
!app
!config
!bin
!config.ru
!Rakefile
!lib
!db
!public/*.html
!public/robots.txt

# Ignore credential key
/config/credentials/production.key

# Ignore all logfiles and tempfiles, but keep the directories.
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases), but keep the directory.
!/storage/.keep
!/tmp/storage/.keep

# Ignore assets, but keep the directory.
app/assets/builds/*
!/app/assets/builds/.keep

# Add yarn files.
!package.json
!yarn.lock
!.yarnrc.yml
!.yarn/releases

# Add bundler files.
!Gemfile
!Gemfile.lock
!.ruby-version

# Add development docker files.
!Procfile.dev

# Add production build files.
!Dockerfile
!fly.toml
