volumes:
  db_storage:
    driver: local
  builds:
    driver: local
  uploads:
    driver: local
services:
  db:
    # postgres:18.0-trixie
    image: postgres@sha256:6b8a8a9f35a6b4ac51e67ca9e73b16fb578155572055dcca32d75d1ed49045fa
    volumes:
      - db_storage:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    hostname: db
  web: &web
    image: sakazuki
    volumes:
      - ./app:/rails/app:cached
      - ./config:/rails/config:cached
      - ./bin:/rails/bin:cached
      - ./config.ru:/rails/config.ru:cached
      - ./Rakefile:/rails/Rakefile:cached
      - ./lib:/rails/lib:cached
      - ./db:/rails/db:cached
      - ./spec:/rails/spec:cached
      - ./public:/rails/public:cached
      - uploads:/rails/app/public/uploads:consistent
      - builds:/rails/app/assets/builds:consistent
    environment:
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_HOSTNAME: db
      CAPYBARA_SERVER_HOST: web
      REMOTE_DRIVER_HOST: selenium
      REMOTE_DRIVER_PORT: 4444
    build:
      context: .
      target: development
      args:
        - RUBY_VERSION
    tty: true
    command: bash -c "rm -f tmp/pids/server.pid && bin/dev"
    ports:
      - "3000:3000"
    depends_on:
      - db
      - selenium
  selenium:
    image: selenium/standalone-firefox:latest
    shm_size: 512m
    ports:
      - 4444:4444
