# Update configurations in this file, and rename to '.env'.

### PostgreSQL.

# Hostname. default is 'localhost'.
#
# POSTGRES_HOSTNAME=localhost

# User name and password to access PostgreSQL.
#
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

### Elasticsearch.

# Hostname. default is 'http://localhost:9200'.
#
# ELASTICSEARCH_HOST=localhost
# ELASTICSEARCH_PORT=9200

# Cluster.
#
# discovery.type=single-node
# cluster.name=es-docker-cluster
# bootstrap.memory_lock=true
# "ES_JAVA_OPTS=-Xms512m -Xmx512m"

### Google AdSense

# Client ID
#
# GOOGLE_ADSENSE_CLIENT=ca-pub-00000
