# Update configurations in this file, and rename to '.env'.

### PostgreSQL.

# Hostname. default is 'localhost'.
#
# POSTGRES_HOSTNAME=localhost

# User name and password to access PostgreSQL.
#
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

### Google AdSense

# Client ID
#
# GOOGLE_ADSENSE_CLIENT=ca-pub-00000
