# Update configurations in this file, and rename to '.env'.

### PostgreSQL.

# Hostname. default is 'localhost'.
#
# POSTGRES_HOSTNAME=localhost

# User name and password to access PostgreSQL.
#
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

### Capybara

# To test using a remote firefox, configure the following.
# Refer to "capybara.rb" and "docker-compose.yml" in this repository.
#
# CAPYBARA_APP_HOST=http://host.docker.internal
# CAPYBARA_SERVER_HOST=0.0.0.0
# REMOTE_DRIVER_HOST=localhost
# REMOTE_DRIVER_PORT=4444

### Google AdSense

# Client ID
#
# GOOGLE_ADSENSE_CLIENT=ca-pub-00000
