<div class="row justify-content-center">
  <div class="col" style="max-width: 28em;">
    <div class="row row-cols-1 g-5 mt-0 mb-5">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-auto">
            <%= image_tag("choko.svg", style: "width: 10em;") %>
          </div>
          <div class="w-100"></div>
          <div class="col-auto">
            <%= image_tag("fudemoji.svg", style: "width: 10em;") %>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </div>
</div>
