<% if sake.sealed? %>
  <li>
    <%= link_to(tag.i(class: "bi-droplet-half", style: "font-size: 0.95em;") + t(".open"),
                sake_path(sake, params: { sake: { bottle_level: "opened" }, flash_message_type: "open" }),
                data: { method: :patch,
                        confirm: t(".confirm_open", name: sake.name),
                        testid: "open_button_#{sake.id}", }) %>
  </li>
<% end %>
<% if sake.unimpressed? %>
  <% p = sake.sealed? ? { sake: { bottle_level: "opened" } } : {} %>
  <% testid = sake.sealed? ? "open_and_impress_button_#{sake.id}" : "impress_button_#{sake.id}" %>
  <li>
    <%= link_to(tag.i(class: "bi-cup-fill", style: "font-size: 1em;") + t(".impress"),
                edit_sake_path(sake, params: p),
                data: { testid: }) %>
  </li>
<% end %>
<% if sake.opened? %>
  <li>
    <%= link_to(tag.i(class: "bi-droplet", style: "font-size: 0.95em;") + t(".empty"),
                sake_path(sake, params: { sake: { bottle_level: "empty" }, flash_message_type: "empty" }),
                data: { method: :patch,
                        confirm: t(".confirm_empty", name: sake.name),
                        testid: "empty_button_#{sake.id}", }) %>
  </li>
<% end %>
