<div class="row fixed-bottom mr-2 mb-4">
  <div class="col text-right">
    <% if params["action"] == "show" %>
      <%= link_to(bi_icon("pencil-square", { width: "2em", height: "2em" }),
                  edit_sake_path(@sake),
                  { class: "btn btn-info" }) %>
    <% end %>

    <%= link_to(bi_icon("plus-square", { width: "2em", height: "2em" }),
                new_sake_path,
                { class: "btn btn-primary" }) %>
  </div>
</div>
