<datalist id="sakamai-list">
  <option value="いにしえの舞"></option>
  <option value="おくほまれ"></option>
  <option value="きたしずく"></option>
  <option value="ぎんおとめ"></option>
  <option value="こいおまち"></option>
  <option value="さがの華"></option>
  <option value="さけ武蔵"></option>
  <option value="しずく媛"></option>
  <option value="しらかば錦"></option>
  <option value="たかね錦"></option>
  <option value="とちぎ酒一四"></option>
  <option value="はなかぐら"></option>
  <option value="ひたち錦"></option>
  <option value="ひだほまれ"></option>
  <option value="ひとごこち"></option>
  <option value="ひより"></option>
  <option value="フクノハナ"></option>
  <option value="一本〆"></option>
  <option value="亀粋"></option>
  <option value="五百万石"></option>
  <option value="京の華"></option>
  <option value="伊勢錦"></option>
  <option value="但馬強力"></option>
  <option value="佐香錦"></option>
  <option value="八反"></option>
  <option value="八反錦一号"></option>
  <option value="八反錦二号"></option>
  <option value="兵庫北錦"></option>
  <option value="兵庫夢錦"></option>
  <option value="兵庫恋錦"></option>
  <option value="兵庫錦"></option>
  <option value="出羽の里"></option>
  <option value="出羽燦々"></option>
  <option value="北陸一二号"></option>
  <option value="千本錦"></option>
  <option value="古城錦"></option>
  <option value="吟ぎんが"></option>
  <option value="吟のいろは"></option>
  <option value="吟のさと"></option>
  <option value="吟の夢"></option>
  <option value="吟の精"></option>
  <option value="吟吹雪"></option>
  <option value="吟風"></option>
  <option value="壽限無"></option>
  <option value="夢の香"></option>
  <option value="夢吟香"></option>
  <option value="夢山水"></option>
  <option value="富の香"></option>
  <option value="山田穂"></option>
  <option value="山田錦"></option>
  <option value="山酒四号"></option>
  <option value="弓形穂"></option>
  <option value="強力"></option>
  <option value="彗星"></option>
  <option value="愛山"></option>
  <option value="改良信交"></option>
  <option value="改良八反流"></option>
  <option value="改良雄町"></option>
  <option value="新山田穂一号"></option>
  <option value="星あかり"></option>
  <option value="杜氏の夢"></option>
  <option value="渡船"></option>
  <option value="渡船二号"></option>
  <option value="滋賀渡船六号"></option>
  <option value="玉栄"></option>
  <option value="白菊"></option>
  <option value="白鶴錦"></option>
  <option value="百万石乃白"></option>
  <option value="石川門"></option>
  <option value="祝"></option>
  <option value="神の穂"></option>
  <option value="神の舞"></option>
  <option value="神力"></option>
  <option value="秋の精"></option>
  <option value="秋田酒こまち"></option>
  <option value="結の香"></option>
  <option value="総の舞"></option>
  <option value="美山錦"></option>
  <option value="美郷錦"></option>
  <option value="羽州誉"></option>
  <option value="舞風"></option>
  <option value="若水"></option>
  <option value="菊水"></option>
  <option value="華吹雪"></option>
  <option value="華想い"></option>
  <option value="蔵の華"></option>
  <option value="西海一三四号"></option>
  <option value="西都の雫"></option>
  <option value="誉富士"></option>
  <option value="豊国"></option>
  <option value="豊盃"></option>
  <option value="越の雫"></option>
  <option value="越淡麗"></option>
  <option value="越神楽"></option>
  <option value="辨慶"></option>
  <option value="酒未来"></option>
  <option value="野条穂"></option>
  <option value="金紋錦"></option>
  <option value="雄山錦"></option>
  <option value="雄町"></option>
  <option value="露葉風"></option>
  <option value="青系酒一八四号"></option>
  <option value="風鳴子"></option>
  <option value="龍の落とし子"></option>
</datalist>
