<div class="row gy-3">
  <div class="col-12">
    <h2 class="fs-3 mb-0"><%= t(".note") %></h2>
  </div>

  <div class="col-12">
    <div class="textbox">
      <div class="text">
        <div class="box">
          <p><%= empty_to_default(sake.note, "　") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
