<div data-controller="random-drink" class="d-inline">
  <a href="#" class="fs-3 link-dark" data-bs-toggle="modal" data-bs-target="#pickRamdomModal" data-random-drink-target="shuffle">
    <i class="bi bi-shuffle"></i>
    <span class="visually-hidden">
      <%= t(".random") %>
    </span>
  </a>

  <div class="modal fade" id="pickRamdomModal" tabindex="-1" aria-labelledby="pickRamdomModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="pickRamdomModalLabel">酒ガチャ</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div data-random-drink-target="result" data-bs-dismiss="modal"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-random-drink-target="button">もう一回ガチャを回す</button>
        </div>
      </div>
    </div>
  </div>
</div>
