<a href="#" class="fs-3 link-dark" data-share-target="link">
  <i class="bi bi-share"></i>
</a>
<%# HACK: hiddenのtextareaをシェア機能から参照する %>
<textarea class="d-none" data-share-target="text">
  <%= t("helper.share.text", sake:) %>
</textarea>
