<div class="row fs-3">
  <div class="col-auto">
    <%# Tweet button  %>
    <% encoded = URI.encode_www_form(hashtags: "SAKAZUKI",
                                     original_referer: request.base_url,
                                     ref_src: "twsrc^tfw|twterm^share",
                                     text: t("helper.tweet.text", sake: sake),
                                     url: request.original_url) %>
    <a href="https://twitter.com/intent/tweet?<%= encoded %>"
      data-lang="ja"
      data-show-count="false"
      target="_blank"
      rel="nofollow"
      class="text-decoration-none">
      <i class="bi-twitter" style="color: #1da1f2;"></i>
    </a>
  </div>
  <div class="col-auto ps-0">
    <%# Facebook share button %>
    <a href="http://www.facebook.com/share.php?<%= URI.encode_www_form(u: request.original_url) %>"
      target="_blank"
      rel="nofollow"
      class="text-decoration-none">
      <i class="bi-facebook" style="color: #1877f2;"></i>
    </a>
  </div>
</div>
