<%# Tweet button  %>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet"
  data-text="<%= t("helper.tweet.text", sake: sake) %>"
  data-hashtags="SAKAZUKI"
  data-show-count="false">
  Tweet
</a>
<script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<%# Facebook share button %>
<div class="fb-share-button"
  data-href="<%= request.original_url %>"
  data-layout="button_count">
</div>

<%# Load Facebook SDK for JavaScript %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
