<a href="#" class="fs-3 link-dark" id="share_button">
  <i class="bi bi-share"></i>
</a>
<%# HACK: hideenのtextareaをshare.tsから参照する %>
<textarea class="d-none" id="share_text">
  <%= t("helper.share.text", sake:) %>
</textarea>
