<div class="row menu-font gy-3 me-1">
  <div class="col-12">
    <h1 class="display-5">
      <%= title(t(".title")) %>
    </h1>
  </div>
  <div class="col-12">
    <div class="row row-cols-1 row-cols-md-2 g-5">
      <% @sakes.each do |sake| %>
        <%= render(partial: "menu_one_drink", locals: { sake: sake }) %>
      <% end %>
    </div>
  </div>
  <div class="col-12">
    <p class="text-end fs-4">
      <%= t(".price_is_per_go") %>
    </p>
  </div>
</div>
