<div class="row justify-content-center">
  <%= wrap_image_tag @photo.image.url, { class: "img-fluid" } %>
</div>
<div class="row justify-content-center">
  <%= link_to t("helpers.submit.back"), sake_path, class: "btn btn-outline-secondary mx-3" %>
</div>
