<% provide(:title, @user.name) %>
  <div class="row-cols-1">
    <div class="col"><%= gravatar_for @user %></div>
    <div class="col">Name: <%= @user.name %></div>
    <div class="col">Email: <%= @user.email %></div>
  </div>
</div>
<div class="row justify-content-center">
  <%= link_to(t("helpers.submit.edit"),
               edit_user_path(current_user),
              { class: "btn btn-outline-primary" }) %>
</div>
