<%# erb_lint:disable StrictLocals %>
<%# パーシャルビューの引数はkaminariに管理される
  # マジックコメントによる動的チェック、ERB LintのStrictLocals、の両方を行わない %>
<li class="page-item disabled">
  <span class="page-link">
    <%= tag.i(class: "bi-three-dots") %>
  </span>
</li>
