<li class="page-item <%= "disabled" if current_page.last? %>">
  <%= link_to t("views.pagination.next"), url, rel: "next", remote: remote,
                                               class: "page-link" %>
</li>
