<% if page.current? %>
  <li class="page-item active">
    <span class="page-link">
      <%= page %>
    </span>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to(page, url, class: "page-link", rel: page.rel, remote: remote) %>
  </li>
<% end %>
