@import "~bootstrap/scss/bootstrap";

html, body {
  font-size: 1rem;
}

@media screen and (max-width: 992px) { body, html { font-size: 1.2rem; } }

.container-fluid-with-maxwidth {
  @extend .container-fluid;
  max-width: 1140px;
}

#notice {
  color: green;
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}
