// Entry point for your Sass build
@import "./bootstrap/custom";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

h1 {
  @extend .mt-2;
}

// ------ header ------

.sakazuki-header-logo {
  @extend .me-3;

  width: 2rem;
  height: 2rem;
}

// ------ footer ------

.footer-text {
  font-size: 0.9em;
  color: #777;
}

// ------ float-button ------

.float-button {
  @extend .fixed-bottom;
  @extend .mb-lg-4;
  @extend .mb-2;

  // click transparent
  pointer-events: none;

  a,
  button {
    pointer-events: all;
  }
}

.float-button-primary {
  @extend .btn;
  @extend .btn-primary;
  @extend .rounded-pill;
  @extend .shadow;
}

.float-button-secondary {
  @extend .btn;
  @extend .btn-secondary;
  @extend .border-primary;
  @extend .border;
  @extend .rounded-pill;
  @extend .shadow;
}
