@import "./bootstrap/custom";
@import "bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap";

$accent: #b7282e;

.menu-font {
  font-family: "Yuji Syuku", serif;
}

.accent-text {
  color: $accent;
}

.price-tag-border {
  @extend .border-bottom;
  @extend .border-dark;
}
