@import "./bootstrap/custom";
@import "bootstrap/scss/bootstrap";

// Ransackが生成するスタイル
// stylelint-disable selector-class-pattern
.btn-group .sort_link {
  @extend .btn;
  @extend .btn-primary;
}
// stylelint-enable selector-class-pattern

.name-link {
  @extend .link-primary;

  text-decoration-line: none;
}

.dropdown-menu {
  a {
    @extend .dropdown-item;

    i {
      @extend .me-2;
    }
  }
}

// drink-buttonのトグルボタンの三角を消す
.dropdown-toggle::after {
  display: none;
}

.card-footer {
  background-color: $gray-100;
  border-top: none;
}
