@import "./bootstrap/custom";
@import "bootstrap/scss/bootstrap";

// Railsがdatte_selectで生成する日付セレクトのスタイル

.year {
  @extend .w-50;
  @extend .me-1;
  @extend .me-lg-2;
}

.month {
  @extend .w-25;
}

.select-delete-photos input[type="checkbox"] {
  display: none;
}

.select-delete-photos input[type="checkbox"]:checked + label img {
  @extend .border-danger;
  @extend .border-5;
}

.select-delete-photos input[type="checkbox"]:checked + label::after {
  @extend .text-danger;
  @extend .fs-1;

  content: "✖";
  display: block;
  margin-top: -3ex;
  margin-left: 1ex;
}
