name: Check

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    # lint by sh scripts
    - uses: actions/checkout@v2
    - name: End of File with Newline
      run: ./cli-scripts/check_endoffile_with_newline.sh

    # lint by node modules
    - name: Get Yarn chache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
    - name: Restore Yarn cache
      uses: actions/cache@v2
      id: yarn-cache
      env:
        cache-env: dev
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ env.cache-env }}-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Install Dependencies
      run: yarn install
    - name: Run ESLint
      run: yarn lint-ts
    - name: Run Markdownlint
      run: yarn lint-md
    - name: Run Stylelint
      run: yarn lint-style

    # lint by rubocop
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: ture
    - name: Install bundle dependencies
      run: |
        bundle install
    - name: Run Rubocop
      run: bundle exec rubocop
    - name: Run ERB Lint
      run: bundle exec erblint --lint-all

    # lint by hadolint
    - name: Hadolint
      uses: brpaz/hadolint-action@master
      with:
        dockerfile: Dockerfile
