name: Fix Command
on:
  repository_dispatch:
    types: [fix-command]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  fix:
    name: fix
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          ref: ${{ github.event.client_payload.pull_request.head.ref }}

      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "yarn"
      - name: Install Yarn Dependencies
        run: yarn install --immutable

      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71
        with:
          bundler-cache: true

      - name: Add refactor commit to PR
        run: |
          # autofix
          yarn run lint:eslint:fix
          yarn run lint:markdownlint:fix
          yarn run lint:stylelint:fix
          yarn run lint:prettier:fix
          bundle exec rubocop --auto-correct
          bundle exec erblint --lint-all --autocorrect
          # commit
          git config --global user.name "github-action[bot]"
          git config --global user.email "58130806+actions-bot@users.noreply.github.com"
          git commit --all --message="Refactor: autofix"
          git push
