name: Fix Command
on:
  repository_dispatch:
    types: [fix-command]
jobs:
  fix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.client_payload.pull_request.head.ref }}

      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "yarn"
      - name: Install Yarn Dependencies
        run: yarn install --immutable

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Install bundle dependencies
        run: |
          bundle install

      - name: Add refactor commit to PR
        run: |
          # autofix
          yarn run lint:eslint:fix
          yarn run lint:markdownlint:fix
          yarn run lint:stylelint:fix
          yarn run lint:prettier:fix
          bundle exec rubocop --auto-correct
          bundle exec erblint --lint-all --autocorrect
          # commit
          git config --global user.name "github-action[bot]"
          git config --global user.email "58130806+actions-bot@users.noreply.github.com"
          git commit --all --message="Refactor: autofix"
          git push
