name: Fly Deploy
on:
  push:
    branches:
      - main

permissions: {}

concurrency:
  group: fly-deploy
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Detect ruby version
        id: ruby-version
        run: echo "RUBY_VERSION=$(cat .ruby-version)" >> "$GITHUB_OUTPUT"
      - uses: superfly/flyctl-actions/setup-flyctl@63da3ecc5e2793b98a3f2519b3d75d4f4c11cec2
      - run: flyctl deploy --build-arg RUBY_VERSION="${RUBY_VERSION}"
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          RUBY_VERSION: ${{ steps.ruby-version.outputs.RUBY_VERSION }}
