name: Slash Command Dispatch
on:
  issue_comment:
    types: [created]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  slashCommandDispatch:
    name: slashCommandDispatch
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@e1b4e266bc781656359bb7e462e228daf68c04f6
        with:
          token: ${{ secrets.PAT }}
          commands: fix
          issue-type: pull-request
