<%# locals: () %>
<% flash.each do |key, value| %>
  <%# timedoutのときだけdeviseが意味のない0メッセージを生成するため飛ばす %>
  <% next if key == "timedout" %>
  <div class="alert alert-<%= flash_type(key) %> alert-dismissible fade show shadow-sm"
    data-testid="flash_message">
    <%= flash_message(key, value) %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
