<footer>
  <div class="container-xxl">
    <div class="my-1">
      © 2021 Copyright: <a href="https://github.com/momocus/sakazuki">SAKAZUKI</a>
    </div>
    <div class="my-1">
      <%= sanitize(t(".credit"), tags: %w[a img]) %>
    </div>
  </div>
</footer>
