<%# pb-5を使い、スマホ時にfloat_button用のスペースを確保する %>
<footer class="pt-3 pb-5 pb-lg-3 bg-secondary footer">
  <div class="container-xxl">
    <div class="my-1">
      © 2021 Copyright: <%# erb_lint:disable HardCodedString %>
      <a href="https://github.com/momocus/sakazuki">
        SAKAZUKI <%# erb_lint:disable HardCodedString %>
      </a>
    </div>
    <div class="my-1">
      <%= sanitize(t(".credit"), tags: %w[a img]) %>
    </div>
  </div>
</footer>
