<header class="navbar navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Sakazuki", root_path, id: "logo" %>
    <nav class="navbar-nav navbar-dark bg-dark">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
